:root {
	/* Color variables. */
	--navbar-bg-color: black;
	--navbar-bg-contrast: hsl(0, 0%, 25%);
	--navbar-text-color: white;
	--navbar-text-color-focus: white;

	/* Positioning variables. */
	--navbar-height: 50px;
	--padding-small: 35px;
}

@font-face {
	font-family: Montserrat;
	src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Source;
	src: url("/assets/fonts/SourceCodePro-Regular.ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: black;
	color: white;
}

body {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	height: 100%;
	line-height: 1.6;
}

#banner {
	background: url("/assets/img/bg.jpg") no-repeat bottom center scroll;
	background-size: cover;
	display: table;
	text-align: center;
	height: 100vh;
	width: 100%;
}

#banner-contents {
	display: table-cell;
	font-size: 24px;
	vertical-align: middle;
	width: 100%;
}

#banner-text {
	background-color: #00000077;
	border-radius: 8px;
	margin: auto;
	padding: 8px;
	font-family: Source;
	text-align: left;
	width: 10em;
}

#main {
	padding-top: calc(var(--navbar-height) + var(--padding-small));
	margin-left: 15%;
	margin-right: 15%;
}

#main p {
	font-family: Montserrat;
	font-size: 20px;
	padding-bottom: var(--padding-small);
}

#main h1 {
	font-family: Montserrat;
	font-size: 30px;
	padding-bottom: var(--padding-small);
	text-transform: uppercase;
}

#portrait {
	border: 4px solid white;
	border-radius: 100%;
}

/* Navbar start. */

#navbar {
	/* Styling. */
	background-color: var(--navbar-bg-color);
	border-bottom: 1px solid;
	border-color: var(--navbar-bg-contrast);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

	/* Positioning. */
	height: var(--navbar-height);
	position: fixed;
	left: 0;
	right: 0;
}

#navbar.opened .navbar-links {
	border-bottom: 1px solid;
	border-color: var(--navbar-bg-contrast);
	max-height: none;
}

#navbar.opened .navbar-menu {
	opacity: 1;
	visibility: visible;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
	margin: 0;
	position: absolute;
	width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
	transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
	opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
	transform: rotate(-45deg);
}

.container {
	margin-left: 7%;
	margin-right: 7%;
	max-width: 100%;
}

/* Navbar end. */

/* Navbar elements start. */

.home-link {
	/* Styling and display. */
	align-items: center;
	color: var(--navbar-text-color);
	display: flex;

	/* Fonts and text. */
	font-size: 18px;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-link {
	/* Styling and display. */
	align-items: center;
	color: var(--navbar-text-color);
	display: flex;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	/* Fonts and text. */
	font-size: 14px;
	font-weight: 550;
	text-decoration: none;
}

.home-link:focus,
.home-link:hover {
	color: var(--navbar-text-color-focus);
}

.icon-bar {
	/* Styling. */
	background-color: var(--navbar-text-color);
	transition:
		background-color 0.2s ease-in-out,
		opacity 0.2s ease-in-out,
		transform 0.2s ease-in-out;

	/* Display and positioning. */
	display: block;
	margin: 2px;
	height: 4px;
	width: 25px;
}

.navbar-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
}

.navbar-item {
	width: 100%;
}

.navbar-link {
	justify-content: center;
	letter-spacing: 0.1em;
	padding: 1.0em 1.25em 1.0em 1.25em;
	text-transform: uppercase;
	width: 100%;
}

.navbar-link:focus,
.navbar-link:hover {
	background-color: var(--navbar-bg-contrast);
	color: var(--navbar-text-color-focus);
}

.navbar-links {
	/* Styling. */
	align-items: center;
	background-color: var(--navbar-bg-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	list-style-type: none;

	/* Display and positioning. */
	display: flex;
	flex-direction: column;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
}

.navbar-menu {
	/* Styling. */
	opacity: 0;
	transition:
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out;

	/* Display and positioning. */
	position: fixed;
	visibility: hidden;
	top: var(--navbar-height);
	bottom: 0;
	left: 0;
	right: 0;
}

.navbar-toggle {
	/* Styling. */
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	justify-content: center;

	/* Display and positioning. */
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
	background-color: var(--navbar-text-color-focus);
}

/* Navbar elements end. */

/* Desktop exceptions start. */

@media screen and (min-width: 880px) {
	.navbar-toggle {
		display: none;
	}

	#navbar .navbar-menu,
	#navbar.opened .navbar-menu {
		display: block;
		height: 100%;
		opacity: 1;
		position: static;
		visibility: visible;
	}

	#navbar .navbar-links,
	#navbar.opened .navbar-links {
		/* Styling. */
		box-shadow: none;
		list-style-type: none;

		/* Display and positioning. */
		flex-direction: row;
		max-height: max-content;
		margin: 0;
		padding: 0;
		position: static;
		width: 100%;
		height: 100%;
	}

	#navbar .navbar-link:last-child {
		margin-right: 0;
	}

	#main p {
		text-align: justify;
	}
}

/* Desktop exceptions end. */
