<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include navbar.html %}

	<div id="banner">
		<div id="banner-contents">
			<div id="banner-text">
				&gt; <span class="typed"></span>
			</div>
			<br>
			<br>
			<img id="portrait" src="{{ site.baseurl }}/assets/img/portrait.jpg"/>
		</div>
	</div>

	<div id="main">

		{{ content }}

	</div>

	{% include footer.html %}
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/typed.min.js"></script>

	<script>

		var quotes = new Array();
		quotes.push("Hacker");
		quotes.push("Programmer");
		quotes.push("Student");
		quotes.push("Teacher");
		quotes.push("Shawn Duong");

		$(".typed").typed({
			strings: quotes,
			typeSpeed: 20,
			backSpeed: 40,
			startDelay: 500,
			backDelay: 1000,
			loop: true,
			loopCount: false,
			cursorChar: "_"
		});

	</script>

</body>

</html>
